<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Actor Trading</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #E1F0F2; /* Light teal background */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            position: relative;
            background-color: #FFFFFF; /* White background */
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .login-container h2 {
            margin: 0 0 20px 0;
            font-weight: 300;
            color: #1B4F5C; /* Dark teal text */
        }

        .login-container form {
            display: flex;
            flex-direction: column;
        }

        .login-container form input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #B8E1DD; /* Light teal border */
            border-radius: 4px;
            box-sizing: border-box; /* Adds padding inside the box */
        }

        .login-container form .button {
            padding: 10px;
            background-color: #5CA4A9; /* Teal background */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .login-container form .button:hover {
            background-color: #F4B860; /* Orange hover */
        }

        .google-back-button {
            border: solid #5CA4A9; /* Teal border */
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            background: #FFFFFF; /* White background */
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            top: 20px;
            left: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login to Your Account</h2>
        <form action="/<%= interfaceType %>-interface" method="get" id="backForm"></form>
        <button type="submit" form="backForm" class="google-back-button"></button>
        <form action="/<%= interfaceType %>-interface/validate-login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="button">Login</button>
        </form>
    </div>
</body>
</html>
